

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <ul class="nav navbar-nav">
            <li><a href="/" class="glyphicon glyphicon-home" alt="Home"></a> </li>
            <li><a href="/account"><span class="glyphicon glyphicon-user"></span> Account</a> </li>
            <li><a href="/photos"><span class="glyphicon glyphicon-camera"></span> InstaFeed</a> </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout"> <span class="glyphicon glyphicon-off"></span> Logout</a> </li>
        </ul>
    </div>
</nav>


<!--
<div class="jumbotron text-center">
    <span class="glyphicon glyphicon-camera" style="font-size: 50px"></span>
    <p class="lead">Assignment 1</p>
</div>
-->



<div class="images-container">

    <div class="alert alert-success alert-dismissable hidden-alert" role="alert">
        <div class="row">
            Photo liked! <small>(not really because the API doesn't support it)</small>
            <button type="button" class="close close-alert-btn" onclick="$('.hidden-alert').hide()">&times</button>
        </div>

    </div>

    {{#each photos}}
        <!-- Entire "view" of a photo from the feed -->
        <div class="col-md-4 col-sm-6 col-xs-12 image-item">
            <!-- For each photo, first we like instagram app extract profile photo and name of person who submitted-->
            <div class="image-item-header">
                <img src="{{poster.profile_picture}}" class="img-circle small-profile-pic">
                <b>{{poster.username}}</b>
            </div>

            <!-- Post form if the like function had worked

        <form id="likeUnlike" role="form" method="post" action="/like">
            <input type="hidden" name="photo_id" value="{{photo_id}}">
            <input type="hidden" name="user" value="{{user}}">
            <button type="submit" class="btn-transparent">

            </button>
        </form>
        -->

            <a id="like-the-photo" href="#" onclick="$('.hidden-alert').fadeIn()" >
                <!-- The actual image itself -->
                <div class="image-item-with-overlay">

                    <!-- Overlay, when hovering an image, allowing you to like it -->
                    <div class="image-item-overlay">
                        <p class="glyphicon glyphicon-heart like-overlay"></p>
                    </div>

                    <!-- The actual image... -->
                    <div class="image-item-only">
                        <img src="{{url}}" class="img-responsive" class="img hashtag-img">
                    </div>

                </div>
            </a>


            <!-- Image caption again with the poster username -->
            <div class="image-item-caption">
                <b><span class="glyphicon glyphicon-user"></span>{{poster.username}}</b> :<p class="image-item-caption-text">{{caption.text}}</p>
            </div>


        </div>
    {{/each}}

</div>


